main {
    width: 60vw;
    margin-left: 7vw;
}


aside {
    width: 15vw;
    margin: 0 2em;
}

article {
    background-color: #fff;
    padding: 4em 6em;
}

.column {
    margin-top: 5em;
    display: flex;
}

footer {
    margin-top: 5em;
}


/* ▼詳細設定 */
.main_v {
    background-position: 0% 0%;
    background-image: url(../img/infov.png);    
}

.main_v h1 {
    position: relative;
    padding: 1em 2em;
    background-position: right;
    background-color: rgba(255, 255, 255, 0.6);
    top: 7em;
    width: fit-content;
    margin: 0 auto;
    z-index: 3;
}



aside img {
    margin-bottom: 1em;
    width: 100%;
}

aside span {
    font-size: larger;
    font-weight: bold;
}

aside .container {
    font-size: smaller;
    margin-top: 1em;
}

article p {
    line-height: 2em;
}

article h2 {
    margin-top: 2em;
}

/* レスポンシブ */
@media screen and (max-width: 765px) {
    .column {
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        flex-direction: column-reverse;
    }

    aside {
        width: 90vw;
    }

    aside img {
        width: 30%;
        float: left;
        margin-right: 2em;
    }

    aside .container {
        clear: both;
    }

    main {
        width: 90vw;
        margin: 2em auto;
    }

    main article {
        padding: 3em;
    }
}