main {
    padding-top: 8em;
}

main h1::before {
    color: #617676;
    font-size: 2em;
    font-family: 'Raleway Dots', cursive;
    display: block;
    content: 'PORTFOLIO';
} 

section {
    width: 50em;
    margin-bottom: 5em;
}

h2 {
    padding-top: 3em;
}

.category {
    width: 50em;
    background-color: #fff;
    margin: 2em auto;
    padding: 2em 4em;
}

.category .container {
    display: flex;
}
.category p {
    margin-bottom: 0.5em;
}

.WEB-box {
    padding-right: 1.5em;
    margin-right: 1.5em;
    border-right: dashed 1px #617676;
}

.category a {
    width: fit-content;
    border:  solid 1px;
    padding: 0.8em 1.5em;
    /* box-shadow: 0 0 8px 1px #eee; */
    color: #333;
}

.category a.web-c {
    padding: 0.8em 2.5em;
    font-weight: bold;
    color: #daa520;
    border-color: #daa520;
    background-color: #fff;
    transition: .2s;
}

.category .web-c:hover {
    border-color: #daa520;
    background-color: #daa520;
    color: #fff;
    transition: .3s;
}

.ETC-box a {
    margin-right: 1em;
}

a.work-c {
    color: #a280d1;
    border-color: #a280d1;
    background-color: #fff;
    transition: .2s;
    padding: 0.8em 2em;
}
.work-c:hover {
    border-color: #a280d1;
    background-color: #a280d1;
    color: #fff;
    transition: .3s;
}

a.gr1-c {
    margin-right: 0;
    color: #53bfab;
    border-color: #6fd7c4;
    background-color: #fff;
    transition: .2s;
}

.gr1-c:hover {
    border-color: #6fd7c4;
    background-color: #6fd7c4;
    color: #fff;
    transition: .3s;
}

a.gr2-c {
    color: #e88f74;
    border-color: #e88f74;
    background-color: #fff;
    transition: .2s;
}

.gr2-c:hover {
    border-color: #e88f74;
    background-color: #e88f74;
    color: #fff;
    transition: .3s;
}

.gr1-c li {
    border-color: #6fd7c4;
}

.gr2-c li {
    border-color: #e88f74;
}

.grade1 .thumb div img:hover,.grade2 .thumb div img:hover,.work .thumb div img:hover {
    transform: scale(95%);
    transition: transform .3s;
}

.grade1 .thumb div img, .grade2 .thumb div img, .work .thumb div img {
    transition: transform .3s;
}

.websites h2 {
    border-color: #daa520;
}
.websites .web-c {
    background-color: #daa520;
    border-color: #daa520;
    color: transparent;
}

.item-img img {
    width: 100%;
}
.item-text p {
    padding: 0;
}
.item-text {
    padding: 1.5em;
}
.item-text span {
    margin-left: 5em;
}
.icafe p {
    font-size: 1.2em;
}

.work h2 {
    border-color: #a280d1;
}
.work .thumb div {
    background-color: #a280d1;
    border-color: #a280d1;
}

.grade1 h2 {
    border-color: #6fd7c4;
}

.grade1 .thumb div {
    background-color: #6fd7c4;
    border-color: #6fd7c4;
}

.grade2 {
    margin-bottom: 5em;
}

.grade2 h2 {
    border-color: #e88f74;
}

.grade2 .thumb div {
    background-color: #e88f74;
    border-color: #e88f74;
}


/* ▼モーダルウィンドウの設定 */
.modal-content {
	max-width: 80vw;
    height: auto;
	padding:2em;
	border:2px solid #aaa;
	background:#fff;
	z-index:50;
    display: none;
    position:fixed;
}

.modal-content .container {
    display: grid;
    grid-template-columns: auto 20em;
    column-gap: 1em;
    align-items: center;
}

.main-img {
    max-height: 40vw;
    max-width: 38vw;
    transform: none;
}

.modal-content video {
    max-height: 35vw;
    max-width: 38vw;
}

.explain {
    margin-top: 1em;
    padding: 0 1em 1em;
    max-width: 35vw;
    height: 40vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

.explain p {
    margin-bottom: 1em;
}

.explain figure {
    margin-top: 2em;
}

figure img:first-of-type {
    margin-bottom: 1em;
}

.explain figcaption {
    font-size: small;
    margin-bottom: 0.5em;
}

.modal-content figure img {
    width: 20vw;
    height: auto;
}

.explain img {
    max-width: 18em;
    height: auto;
}

.tag {
    font-size: smaller;
    align-items: center;
    display: flex;
}
.tag p:nth-of-type(2) {
    color: #3f8c7e;
}

.Gtag {
    color: #fff;
    margin-right: 1em;
    padding: 0.2em 0.5em;
    letter-spacing: 2px;
    min-width: fit-content;
}

.Gtag.G12 {
    background-image: linear-gradient(to right, #6fd7c4, #e88f74);
}

.Gtag.G1 {
    background-color: #6fd7c4;
}

.Gtag.G2 {
    background-color: #e88f74;
}
.Gtag.worktag {
    background-color: #a280d1;
}

.tool {
    display: flex;
    height: fit-content;
    margin-bottom: 2em;
}

.tool img {
    width: 15%;
    margin-right: 0.5em;
    padding-top: unset;
}

.votebox {
    width: min-content;
}
.votebox img:first-child {
    margin-bottom: 1em;
}
.votebox img:first-child, .votebox img {
    height: auto;
    max-width: 372px;
    min-width: 280px;
}

#modal-overlay{
    z-index:30;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:120%;
    background-color:rgba(0,0,0,0.75);
}
 
#modal-close {
    right: 0.5em;
    top: 0.3em;
    position: absolute;
}

.button-link,.modal-syncer:hover {
	cursor:pointer;
}

.button-link {
    font-size: xx-large;
}



/* ▼アコーディオンメニューの設定 */
#ac-button {
    cursor: pointer;
}

.ac-child {
    margin-top: 2em;
}

/* レスポンシブ */
@media screen and (max-width: 959px) {
	/* タブレット用 */
}
@media screen and (max-width: 480px) {
    /* スマホ用 */
    section, .category {
        width: 90vw;
    }
    .category {
        padding: 2em 2em;
    }
    .category .container,.modal-content .container {
        display: block;
    }
    .category ul {
        width: 90vw;
    }
    .WEB-box {
        margin-right: 0;
        margin-bottom: 1em;
        padding-right: 0;
        border-right: none;
    }
    .category .academy-box {
        margin-top: 1em;
        display: flex;
        justify-items: stretch;
    }
    .category a {
        text-align: center;
        width: 100%;
    }
    .thumb {
        column-gap: 1.5em;
        row-gap: 1.5em;
        width: 90vw;
    }
    .thumb div {
        width: 154px;
    }
    .work .thumb div,.grade1 .thumb div,.grade2 .thumb div{
        width: 152px;
    }
    .thumb img {
        width: 150px;
    }
    .item-text {
        width: 150px;
        height: 150px;
    }
    .modal-content {
        max-width: 85vw;
        max-height: 78vh;
        height: auto;
        padding: 1em;
    }
    .modal-content h3 {
        font-size: 1.2em;
    }
    .main-img,.modal-content video {
        display: block;
        margin: 0 auto;
        max-height: 48vh;
        max-width: 75vw;
        margin-top: 2em;
        transform: none;
    }
    .explain {
        max-width: 80vw;
        height: 8em;
    }
    .explain p {
        font-size: smaller;
    }
    .votebox img:first-child, .votebox img {
        max-width: 75vw;
    }
}